@model string
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h1>Encrypt-R-us</h1>
    <div class="col-md-6">
        <form method="post" action='@Url.Action("Encrypt", "Home")'>
            <div class="form-group">
                <label class="control-label">Gebruikersnaam </label>
                <input class="form-control" type="text" name="userName" />
                <label class="control-label">Wachtwoord </label>
                <input class="form-control" type="password" name="password" />
                <label class="control-label">Geheime tekst </label>
                <textarea class="form-control" name="secretText"></textarea>
                <br />
                <button class="btn btn-default" type="submit">Encrypt</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form method="post" action='@Url.Action("Decrypt", "Home")'>
            <div class="form-group">
                <label class="control-label">Gebruikersnaam </label>
                <input class="form-control" type="text" name="username" />
                <label class="control-labe">Wachtwoord </label>
                <input class="form-control" type="password" name="password" />
                <label class="control-label">Geheime tekst </label>
                <textarea class="form-control disabled" name="secretTextDecrypt" readonly>@Model</textarea>
                <br />
                <button class="btn btn-default" type="submit">Decrypt</button>
            </div>
        </form>
    </div>
</div>